.advantages-list {
  & > li {
    @media screen and (min-width: $tablet) {
      width: calc((100% - 60px) / 2);
      margin: 15px;
    }
    @media screen and (min-width: $desktop) {
      width: calc((100% - 120px) / 4);
    }
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

// .advantages-list-item::before {
//   content: '';
//   display: block;
//   margin-bottom: 30px;
//   height: 120px;
//   background-size: 70px 70px;
//   background-repeat: no-repeat;
//   background-color: $bg-button-color;
//   background-position: center;
// }

%advantages-list-item::before {
  content: '';
  display: block;
  margin-bottom: 30px;
  height: 120px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-color: $bg-button-color;
  background-position: center;
}

.advantages-list-item:nth-child(1)::before {
  @extend %advantages-list-item::before;
  background-image: url(../img/details.svg);
}
.advantages-list-item:nth-child(2)::before {
  @extend %advantages-list-item::before;
  background-image: url(../img/punctuality.svg);
}
.advantages-list-item:nth-child(3)::before {
  @extend %advantages-list-item::before;
  background-image: url(../img/planning.svg);
}
.advantages-list-item:nth-child(4)::before {
  @extend %advantages-list-item::before;
  background-image: url(../img/modern-tech.svg);
}
