// .join {
//   margin-bottom: 60px;
//   // margin-right: 94px;
//   text-align: center;

//   &-header {
//     display: block;
//     margin-bottom: 20px;

//     color: $primary-white-color;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     text-transform: uppercase;
//   }
// }

.join-networks {
  display: flex;
  justify-content: center;

  & > li + li {
    margin-left: 10px;
  }

  .icon {
    fill: $primary-white-color;
  }
}
