.container-footer {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.footer-box {
  // margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    @media screen and (max-width: 1199px) {
      justify-content: space-between;
      padding: 0 76px 0 89px;
    }

    // justify-content: space-between;
    // padding: 0 76px 0 89px;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}
.footer-contacts {
  ul > li:not(:last-child) {
    margin-bottom: 8px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    margin: 0px 69px 0px 0px;
  }

  // & > ul > li {
  //   margin-bottom: 8px;
  // }

  .link {
    color: $footer-text-contacts-color;
    font-weight: 400;
    // font-size: 14px;
    // line-height: 1.2;
  }
}

.link-item .link {
  color: $primary-white-color;
}

.join-networks {
  display: flex;
  justify-content: center;

  & > li + li {
    margin-left: 10px;
  }

  .icon {
    fill: $primary-white-color;
  }
}
