form {
  width: 100%;
  height: 100%;
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.form-input {
  @include button();
  width: 370px;
  padding: 12px 44px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  // border-radius: 4px;
  // outline: none;

  &:focus {
    border: 1px solid $accent-color;
  }
}
.input-textarea {
  padding: 12px 44px 12px 16px;
  max-width: 448px;
  min-height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
}

.fields-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $title-text-color;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.coment {
  left: 16px;
  top: 12px;
  transform: translateY(0);
}

.form-input:focus + .fields-label,
.form-input:not(:placeholder-shown) + .fields-label {
  color: $accent-color;
  font-size: 12px;
  transform: translate(-39px, -37px);
}
.input-textarea:focus + .fields-label {
  color: $accent-color;
  transform: translate(-12px, -28px);
}

.form-input:focus ~ .icon-form {
  fill: $accent-color;
}
.icon-form {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  fill: $title-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;

  &-field {
    @media screen and (min-width: $mobile) and (max-width: $tablet) {
      margin-bottom: 20px;
    }
  }
  &-field {
    @media screen and (min-width: $desktop) {
      margin-bottom: 30px;
    }
  }

  &-label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    border: 1px solid $title-text-color;
    border-radius: 2px;
  }

  &-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
}

.checkbox:checked + .checkbox-icon {
  background-color: $accent-color;
  background-image: url(../img/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.checkbox-link {
  position: relative;
  color: $accent-color;

  & > input {
    width: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 1px;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: $accent-color;
  }
}
