.main-nav {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }

  .link {
    display: block;
  }

  & > .link {
    margin-right: 80px;
  }
}

.nav {
  @media screen and (min-width: $tablet) {
    display: flex;
  }

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &-item:not(:last-child) {
    margin-right: 45px;
  }

  .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.nav .current {
  color: $accent-color;
  position: relative;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }

  &.main::after {
    bottom: -1px;
  }
}
