.portfolio {
  padding-top: 40px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding: 94px 0 94px 0;
  }
}

.card-content {
  padding: 20px 24px;
  height: 110px;
  border: 1px solid $border-color;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.example {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 1199px) {
      margin: -15px;
    }
  }

  .example-title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  .paragraf {
    color: $primary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
  }
}

.example {
  .example-items {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $tablet) {
      width: calc((100% - 60px) / 2);
      @media screen and (max-width: 1199px) {
        margin: 15px;
      }
    }
    /* position: relative; */

    @media screen and (min-width: $desktop) {
      width: calc((100% - 2 * 30px) / 3);
      margin-right: 30px;
    }

    height: 404px;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;

    transition-property: box-shadow, opasity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:nth-child(3n) {
      @media screen and (min-width: $desktop) {
        margin-right: 0px;
      }
    }

    &:nth-last-child(-n + 3) {
      @media screen and (min-width: $desktop) {
        margin-bottom: 0px;
      }
    }
  }
}

.img-box {
  position: relative;
  overflow: hidden;

  .example-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $bg-card-color;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.example-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  color: $primary-white-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  opacity: 0;
  transition-property: tramsform, opasity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.example-items:hover,
.example-items:focus,
.example-items .link:hover,
.example-items .link:focus,
.example-items:hover .example-text,
.example-items:focus .example-text,
.example-items:hover .example-overlay,
.example-items:focus .example-overlay {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  transform: translateY(0);
  opacity: 1;
}
