$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$bg-button-color: #f5f4fa;
$bg-title-activity-color: rgba(47, 48, 58, 0.8);
$bg-footer: #2f303a;
$footer-text-contacts-color: rgba(255, 255, 255, 0.6);
$footer-text-copyright: rgba(255, 255, 255, 0.4);
$border-color: #eeeeee;
$border-header-color: #ececec;
$bg-social-networks-footer: rgba(255, 255, 255, 0.1);
$icon-socio-color: #afb1b8;
$bg-card-color: rgba(33, 150, 243, 0.9);
$hero-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$modal-background: rgba(0, 0, 0, 0.2);
$form-email-text-color: rgba(255, 255, 255, 0.3);
// шрифты
$body-font-fam: Roboto, sans-serif;
$body-font-size: 14px;
$body-let-spacing: 0.03em;
$body-line-heit: 1.7;
$logo-font-fam: Raleway, sans-serif;
